body, html {
            
    height:450px;
    width:350px;
    overflow: auto;
    background: #f2f2f2;
}
#titleLine{
    background: #f2f2f2;
    border-radius: 2px;
    align-content: center;
}
.title{
    text-align: center;
    width: 100%;
}
#result {
    position: absolute;
    width: 100%;
    max-width:870px;
    cursor: pointer;
    overflow-y: auto;
    max-height: 400px;
    box-sizing: border-box;
    z-index: 1001;
}

.search-bar{
    position: relative;
    overflow: auto;
    margin-bottom: 10px;
}
.bottom-nav{
    padding-top: 40px;
}
#roleoLogo{
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.main-section{
    background:url('../demo/imgpsh_fullsize.jpg') no-repeat;
    background-size:100% 100%;
    margin: 0px;
    width: 100%;
}
.user-login-header,.login-image-main{
    margin-top: 15px;
}
.user-login-header h1{
    font-size: 45px;
  
}
.user-login-header p,.last-part p{
    color:#c9c5c7;
}
.user-login-header span{
    color:#fff;
    font-weight: 600;
}
.login-image-main{
    padding: 30px;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0 0 5px 0 #fff;
}
.user-image-section img{
    background-color: #B56162;
    padding:30px;
    height:150px;
    width:150px;
    border-radius: 50%;
}
.user-login-box,.last-part{
    padding:20px;
}
.user-login-box a,.user-login-box a:hover{
    background-color: #B56162;
    border:1px solid #B56162;
    width: 100%;
    color:#fff;
    font-weight:600;
}
.last-part a{
    text-decoration: none;
    color:#B56162;
}